link(rel="stylesheet", type="text/css", href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css")
link(rel="stylesheet", type="text/css", href="/manager/stylesheet/signin.css")
script(type="application/javascript", src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js")
script(type="application/javascript", src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js")