<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,1638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,1638}}</string>
                <key>sourceSize</key>
                <string>{512,1638}</string>
            </dict>
            <key>help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{512,1638}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,1638}}</string>
                <key>sourceSize</key>
                <string>{512,1638}</string>
            </dict>
            <key>help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{512,1470}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,1470}}</string>
                <key>sourceSize</key>
                <string>{512,1470}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>help.png</string>
            <key>size</key>
            <string>{1544,1642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63082a287f3a12cbc135b141f0d7b44a:6ae5b5fca4ad127dea2f303251c0018e:b748d28db2ead7fdbe4aa6481e4be26c$</string>
            <key>textureFileName</key>
            <string>help.png</string>
        </dict>
    </dict>
</plist>
