<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{420,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,80}}</string>
                <key>sourceSize</key>
                <string>{420,80}</string>
            </dict>
            <key>btn_take_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>btn_take_vaccine.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,218},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>btn_take_vaccine_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>cat_detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>cat_detail_hungry_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,424},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>cat_detail_hungry_half_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,424},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>cat_detail_hungry_no_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,434},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other.png</string>
            <key>size</key>
            <string>{690,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfd2ceb6f3717cce9a811607c237419e:7f93f186e473c7b98986c9bc16a48cec:454e9ce649c79c377f9a07836b0b25b4$</string>
            <key>textureFileName</key>
            <string>other.png</string>
        </dict>
    </dict>
</plist>
