<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,484},{420,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,80}}</string>
                <key>sourceSize</key>
                <string>{420,80}</string>
            </dict>
            <key>btn_take_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,2},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>btn_take_vaccine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,218},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>btn_take_vaccine_done.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{214,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,60}}</string>
                <key>sourceSize</key>
                <string>{214,60}</string>
            </dict>
            <key>cat_detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{480,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,480}}</string>
                <key>sourceSize</key>
                <string>{480,480}</string>
            </dict>
            <key>cat_detail_hungry_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,484},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>cat_detail_hungry_half_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,531},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>cat_detail_hungry_no_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,434},{43,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,45}}</string>
                <key>sourceSize</key>
                <string>{43,45}</string>
            </dict>
            <key>sell_result_message_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{629,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{629,574}}</string>
                <key>sourceSize</key>
                <string>{629,574}</string>
            </dict>
            <key>sell_result_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,2},{550,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,101}}</string>
                <key>sourceSize</key>
                <string>{550,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>other.png</string>
            <key>size</key>
            <string>{1342,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4851fe2282d2a6768d8190f10a86434f:a3d6ce59a6c8c2001a7997129428faa1:454e9ce649c79c377f9a07836b0b25b4$</string>
            <key>textureFileName</key>
            <string>other.png</string>
        </dict>
    </dict>
</plist>
