<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baby1_eat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{78,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,113}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>baby1_eat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1450},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>baby1_move0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{141,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,117}}</string>
                <key>sourceSize</key>
                <string>{141,117}</string>
            </dict>
            <key>baby1_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{141,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,117}}</string>
                <key>sourceSize</key>
                <string>{141,117}</string>
            </dict>
            <key>baby1_sleep0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,347},{177,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,86}}</string>
                <key>sourceSize</key>
                <string>{177,86}</string>
            </dict>
            <key>baby2_eat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,117},{78,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,113}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>baby2_eat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>baby2_move0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{141,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,117}}</string>
                <key>sourceSize</key>
                <string>{141,117}</string>
            </dict>
            <key>baby2_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{141,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,117}}</string>
                <key>sourceSize</key>
                <string>{141,117}</string>
            </dict>
            <key>baby2_sleep0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1021},{132,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,86}}</string>
                <key>sourceSize</key>
                <string>{132,86}</string>
            </dict>
            <key>baby3_eat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,232},{78,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,113}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>baby3_eat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1531},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>baby3_move0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,117}}</string>
                <key>sourceSize</key>
                <string>{170,117}</string>
            </dict>
            <key>baby3_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{170,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,117}}</string>
                <key>sourceSize</key>
                <string>{170,117}</string>
            </dict>
            <key>baby3_sleep0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,526},{177,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,86}}</string>
                <key>sourceSize</key>
                <string>{177,86}</string>
            </dict>
            <key>baby4_eat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1155},{78,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,113}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>baby4_eat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1531},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>baby4_move0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{141,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,117}}</string>
                <key>sourceSize</key>
                <string>{141,117}</string>
            </dict>
            <key>baby4_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{141,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,117}}</string>
                <key>sourceSize</key>
                <string>{141,117}</string>
            </dict>
            <key>baby4_sleep0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,705},{177,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,86}}</string>
                <key>sourceSize</key>
                <string>{177,86}</string>
            </dict>
            <key>baby5_eat0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{78,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,113}}</string>
                <key>sourceSize</key>
                <string>{78,113}</string>
            </dict>
            <key>baby5_eat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1535},{79,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,87}}</string>
                <key>sourceSize</key>
                <string>{79,87}</string>
            </dict>
            <key>baby5_move0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1075},{141,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,117}}</string>
                <key>sourceSize</key>
                <string>{141,117}</string>
            </dict>
            <key>baby5_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{141,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,119}}</string>
                <key>sourceSize</key>
                <string>{141,119}</string>
            </dict>
            <key>baby5_sleep0.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,884},{135,86}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,86}}</string>
                <key>sourceSize</key>
                <string>{177,86}</string>
            </dict>
            <key>icon_angry.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1270},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_ill.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1360},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>icon_sleep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1364},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baby_cat.png</string>
            <key>size</key>
            <string>{254,1620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3259d24e721652062d0698cb8a2ac4a:f6679d5f59a3ed4fcb35492883301fa0:d1e406cfb7e32a3f5110d99e3d60260f$</string>
            <key>textureFileName</key>
            <string>baby_cat.png</string>
        </dict>
    </dict>
</plist>
