<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,454},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1731},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>cat_house_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cat_house_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cat_house_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cat_house_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cat_house_bg_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1140},{640,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,195}}</string>
                <key>sourceSize</key>
                <string>{640,195}</string>
            </dict>
            <key>cat_house_bg_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1337},{640,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,195}}</string>
                <key>sourceSize</key>
                <string>{640,195}</string>
            </dict>
            <key>cat_house_bg_sunshine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1534},{640,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,195}}</string>
                <key>sourceSize</key>
                <string>{640,195}</string>
            </dict>
            <key>cat_house_fan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{450,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{450,76}}</string>
                <key>sourceSize</key>
                <string>{456,80}</string>
            </dict>
            <key>cat_house_fan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1377,1731},{450,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{450,78}}</string>
                <key>sourceSize</key>
                <string>{456,80}</string>
            </dict>
            <key>cat_house_food_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,1731},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>cat_house_food_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1859},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>cat_house_food_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1811},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>cat_house_food_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,1811},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>cat_house_food_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{450,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{450,76}}</string>
                <key>sourceSize</key>
                <string>{456,80}</string>
            </dict>
            <key>cat_house_food_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,1811},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>cat_house_food_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1811},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>cat_house_food_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,1925},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>cat_house_header_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,516},{635,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,53}}</string>
                <key>sourceSize</key>
                <string>{635,53}</string>
            </dict>
            <key>tab_btn_cat_house.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_cat_house_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,1928},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1928},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_food_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1928},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_handbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1928},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_handbook_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1928},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1928},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_sell_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,1928},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1928},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_shop_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1883},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_house.png</string>
            <key>size</key>
            <string>{1860,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba570ee98494f9b81bd2ba000a003959:5e7dd93d1229eb4b1b4a5120524fe3cf:a918f658d1d31352b8adf2283bb36b32$</string>
            <key>textureFileName</key>
            <string>cat_house.png</string>
        </dict>
    </dict>
</plist>
