<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1837},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>buy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,1782},{150,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,120}}</string>
                <key>sourceSize</key>
                <string>{150,120}</string>
            </dict>
            <key>cat_house_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cat_house_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cat_house_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cat_house_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>cat_house_bg_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1140},{640,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,195}}</string>
                <key>sourceSize</key>
                <string>{640,195}</string>
            </dict>
            <key>cat_house_bg_night.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1337},{640,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,195}}</string>
                <key>sourceSize</key>
                <string>{640,195}</string>
            </dict>
            <key>cat_house_bg_sunshine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1534},{640,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,195}}</string>
                <key>sourceSize</key>
                <string>{640,195}</string>
            </dict>
            <key>cat_house_cat_hair.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1826},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>cat_house_cleaner_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,1140},{246,174}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{246,174}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>cat_house_cleaner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,1388},{232,174}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{232,174}}</string>
                <key>sourceSize</key>
                <string>{250,180}</string>
            </dict>
            <key>cat_house_fan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1140},{450,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{450,76}}</string>
                <key>sourceSize</key>
                <string>{456,80}</string>
            </dict>
            <key>cat_house_fan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{450,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{450,78}}</string>
                <key>sourceSize</key>
                <string>{456,80}</string>
            </dict>
            <key>cat_house_food_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1782},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>cat_house_food_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1782},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>cat_house_food_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,1782},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>cat_house_food_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1731},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>cat_house_food_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1140},{450,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{450,76}}</string>
                <key>sourceSize</key>
                <string>{456,80}</string>
            </dict>
            <key>cat_house_food_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,1731},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>cat_house_food_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1731},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>cat_house_food_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1731},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>cat_house_header_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{635,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,53}}</string>
                <key>sourceSize</key>
                <string>{635,53}</string>
            </dict>
            <key>tab_btn_cat_house.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,454},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_cat_house_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,584},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,714},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_food_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,844},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_handbook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,974},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_handbook_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,1731},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_sell.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1622},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_sell_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,1622},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1724},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
            <key>tab_btn_shop_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,1752},{128,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,100}}</string>
                <key>sourceSize</key>
                <string>{128,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cat_house.png</string>
            <key>size</key>
            <string>{2036,1908}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a757299a7347bc6019b4e9c06e2c429:7e3c91c226d3a1a246fd7891fc04cb69:a918f658d1d31352b8adf2283bb36b32$</string>
            <key>textureFileName</key>
            <string>cat_house.png</string>
        </dict>
    </dict>
</plist>
