<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,244},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,244},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,244},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,244},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,354},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,486},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,486},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,486},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,486},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,728},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,728},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,728},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
            <key>cat_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,728},{350,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,240}}</string>
                <key>sourceSize</key>
                <string>{350,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_logo.png</string>
            <key>size</key>
            <string>{2004,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dfe846407e5db50506d5aaacea6bd13:aefef739a81e9896741f74b5ce24bc3f:094c0e14d54fec49f6f4b930547b6380$</string>
            <key>textureFileName</key>
            <string>loading_logo.png</string>
        </dict>
    </dict>
</plist>
