<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cat_chara_10_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,590},{124,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,282}}</string>
                <key>sourceSize</key>
                <string>{124,282}</string>
            </dict>
            <key>cat_chara_11_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{180,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,288}}</string>
                <key>sourceSize</key>
                <string>{180,288}</string>
            </dict>
            <key>cat_chara_12_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1431,2},{142,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,277}}</string>
                <key>sourceSize</key>
                <string>{142,277}</string>
            </dict>
            <key>cat_chara_13_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,898},{120,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,273}}</string>
                <key>sourceSize</key>
                <string>{120,273}</string>
            </dict>
            <key>cat_chara_14_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,273},{124,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,272}}</string>
                <key>sourceSize</key>
                <string>{124,272}</string>
            </dict>
            <key>cat_chara_15_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,304},{300,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,238}}</string>
                <key>sourceSize</key>
                <string>{300,238}</string>
            </dict>
            <key>cat_chara_16_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{310,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,253}}</string>
                <key>sourceSize</key>
                <string>{310,253}</string>
            </dict>
            <key>cat_chara_17_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,306},{300,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,293}}</string>
                <key>sourceSize</key>
                <string>{300,293}</string>
            </dict>
            <key>cat_chara_18_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,281},{123,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,275}}</string>
                <key>sourceSize</key>
                <string>{123,275}</string>
            </dict>
            <key>cat_chara_19_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,590},{135,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,284}}</string>
                <key>sourceSize</key>
                <string>{135,284}</string>
            </dict>
            <key>cat_chara_1_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,399},{149,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,266}}</string>
                <key>sourceSize</key>
                <string>{149,266}</string>
            </dict>
            <key>cat_chara_20_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,313},{147,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,304}}</string>
                <key>sourceSize</key>
                <string>{147,304}</string>
            </dict>
            <key>cat_chara_21_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1197,576},{143,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,281}}</string>
                <key>sourceSize</key>
                <string>{143,281}</string>
            </dict>
            <key>cat_chara_22_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,2},{163,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,295}}</string>
                <key>sourceSize</key>
                <string>{163,295}</string>
            </dict>
            <key>cat_chara_23_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,292},{119,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,282}}</string>
                <key>sourceSize</key>
                <string>{119,282}</string>
            </dict>
            <key>cat_chara_24_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,299},{185,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,289}}</string>
                <key>sourceSize</key>
                <string>{185,289}</string>
            </dict>
            <key>cat_chara_25_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{173,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,280}}</string>
                <key>sourceSize</key>
                <string>{173,280}</string>
            </dict>
            <key>cat_chara_26_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,143},{128,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,273}}</string>
                <key>sourceSize</key>
                <string>{128,273}</string>
            </dict>
            <key>cat_chara_27_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{178,309}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,309}}</string>
                <key>sourceSize</key>
                <string>{178,309}</string>
            </dict>
            <key>cat_chara_28_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,606},{133,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,290}}</string>
                <key>sourceSize</key>
                <string>{133,290}</string>
            </dict>
            <key>cat_chara_29_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,910},{107,263}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,263}}</string>
                <key>sourceSize</key>
                <string>{107,263}</string>
            </dict>
            <key>cat_chara_2_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,284},{133,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,278}}</string>
                <key>sourceSize</key>
                <string>{133,278}</string>
            </dict>
            <key>cat_chara_30_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,2},{139,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,274}}</string>
                <key>sourceSize</key>
                <string>{139,274}</string>
            </dict>
            <key>cat_chara_31_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,315},{114,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,310}}</string>
                <key>sourceSize</key>
                <string>{114,310}</string>
            </dict>
            <key>cat_chara_32_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,399},{149,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,266}}</string>
                <key>sourceSize</key>
                <string>{149,266}</string>
            </dict>
            <key>cat_chara_33_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{302,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,278}}</string>
                <key>sourceSize</key>
                <string>{302,278}</string>
            </dict>
            <key>cat_chara_34_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,664},{143,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,261}}</string>
                <key>sourceSize</key>
                <string>{143,261}</string>
            </dict>
            <key>cat_chara_35_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,608},{300,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,269}}</string>
                <key>sourceSize</key>
                <string>{300,269}</string>
            </dict>
            <key>cat_chara_36_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{300,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,277}}</string>
                <key>sourceSize</key>
                <string>{300,277}</string>
            </dict>
            <key>cat_chara_37_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,619},{302,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,269}}</string>
                <key>sourceSize</key>
                <string>{302,269}</string>
            </dict>
            <key>cat_chara_38_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,292},{134,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,281}}</string>
                <key>sourceSize</key>
                <string>{134,281}</string>
            </dict>
            <key>cat_chara_39_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,809},{193,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,255}}</string>
                <key>sourceSize</key>
                <string>{193,255}</string>
            </dict>
            <key>cat_chara_3_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1239,292},{134,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,281}}</string>
                <key>sourceSize</key>
                <string>{134,281}</string>
            </dict>
            <key>cat_chara_40_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,550},{112,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,266}}</string>
                <key>sourceSize</key>
                <string>{112,266}</string>
            </dict>
            <key>cat_chara_4_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,874},{145,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,269}}</string>
                <key>sourceSize</key>
                <string>{145,269}</string>
            </dict>
            <key>cat_chara_5_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{127,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,311}}</string>
                <key>sourceSize</key>
                <string>{127,311}</string>
            </dict>
            <key>cat_chara_6_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,855},{152,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,266}}</string>
                <key>sourceSize</key>
                <string>{152,266}</string>
            </dict>
            <key>cat_chara_7_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,575},{148,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,278}}</string>
                <key>sourceSize</key>
                <string>{148,278}</string>
            </dict>
            <key>cat_chara_8_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,564},{128,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,277}}</string>
                <key>sourceSize</key>
                <string>{128,277}</string>
            </dict>
            <key>cat_chara_9_fin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,311}}</string>
                <key>sourceSize</key>
                <string>{166,311}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sell.png</string>
            <key>size</key>
            <string>{1911,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e4da516271f6d22dcf120e7500ba1a5:fec80eb312b2d2eacb08239b30658549:917abfd107896e4a8127354befc2efd1$</string>
            <key>textureFileName</key>
            <string>sell.png</string>
        </dict>
    </dict>
</plist>
