<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>food_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{640,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,131}}</string>
                <key>sourceSize</key>
                <string>{640,131}</string>
            </dict>
            <key>food_bar_btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,207},{45,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,131}}</string>
                <key>sourceSize</key>
                <string>{45,131}</string>
            </dict>
            <key>food_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>food_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,644},{128,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,96}}</string>
                <key>sourceSize</key>
                <string>{128,96}</string>
            </dict>
            <key>food_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,742},{127,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,98}}</string>
                <key>sourceSize</key>
                <string>{127,98}</string>
            </dict>
            <key>food_img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1928},{124,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,83}}</string>
                <key>sourceSize</key>
                <string>{124,83}</string>
            </dict>
            <key>food_img_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1829},{125,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,90}}</string>
                <key>sourceSize</key>
                <string>{125,90}</string>
            </dict>
            <key>food_img_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{122,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,85}}</string>
                <key>sourceSize</key>
                <string>{122,85}</string>
            </dict>
            <key>food_img_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,254},{128,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,106}}</string>
                <key>sourceSize</key>
                <string>{128,106}</string>
            </dict>
            <key>food_img_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1928},{123,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,83}}</string>
                <key>sourceSize</key>
                <string>{123,83}</string>
            </dict>
            <key>food_img_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1829},{122,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,94}}</string>
                <key>sourceSize</key>
                <string>{122,94}</string>
            </dict>
            <key>food_progress_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1575,207},{202,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,28}}</string>
                <key>sourceSize</key>
                <string>{202,28}</string>
            </dict>
            <key>food_progress_bar_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1141},{202,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,28}}</string>
                <key>sourceSize</key>
                <string>{202,28}</string>
            </dict>
            <key>food_select_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,842},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>food_select_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1634},{113,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{113,125}</string>
            </dict>
            <key>food_select_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1749},{113,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{113,125}</string>
            </dict>
            <key>food_select_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1864},{113,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{113,125}</string>
            </dict>
            <key>food_select_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1634},{112,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,125}}</string>
                <key>sourceSize</key>
                <string>{112,125}</string>
            </dict>
            <key>food_select_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,1864},{113,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,125}}</string>
                <key>sourceSize</key>
                <string>{113,125}</string>
            </dict>
            <key>food_select_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1829},{112,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{112,126}</string>
            </dict>
            <key>food_select_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,957},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>food_select_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1598,1072},{113,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,126}}</string>
                <key>sourceSize</key>
                <string>{113,126}</string>
            </dict>
            <key>hand_book_item_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1925},{86,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>handbook_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>handbook_cat_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,89},{300,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,60}}</string>
                <key>sourceSize</key>
                <string>{300,60}</string>
            </dict>
            <key>handbook_food_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,151},{300,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,60}}</string>
                <key>sourceSize</key>
                <string>{300,60}</string>
            </dict>
            <key>handbook_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,213},{290,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,281}}</string>
                <key>sourceSize</key>
                <string>{290,281}</string>
            </dict>
            <key>level_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1928},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1928},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1928},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1928},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,1928},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1928},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>sell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>sell_cat_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,411},{170,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,86}}</string>
                <key>sourceSize</key>
                <string>{170,86}</string>
            </dict>
            <key>sell_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1171},{640,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,180}}</string>
                <key>sourceSize</key>
                <string>{640,180}</string>
            </dict>
            <key>sell_history_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{470,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,85}}</string>
                <key>sourceSize</key>
                <string>{470,85}</string>
            </dict>
            <key>sell_right_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,496},{240,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,1136}}</string>
                <key>sourceSize</key>
                <string>{240,1136}</string>
            </dict>
            <key>sell_select_btn_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,362},{76,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>sell_select_btn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,148},{146,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,57}}</string>
                <key>sourceSize</key>
                <string>{146,57}</string>
            </dict>
            <key>sell_select_btn_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,89},{147,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,57}}</string>
                <key>sourceSize</key>
                <string>{147,57}</string>
            </dict>
            <key>shop_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1187},{640,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,180}}</string>
                <key>sourceSize</key>
                <string>{640,180}</string>
            </dict>
            <key>shop_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,499},{640,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,214}}</string>
                <key>sourceSize</key>
                <string>{640,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1746,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:936ffe72cbd44107eab89e7031662e34:8f1252e72c2f09bcb2a5650c4c756418:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
