<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1140},{300,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1638},{204,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,84}}</string>
                <key>sourceSize</key>
                <string>{204,84}</string>
            </dict>
            <key>btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1724},{204,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,84}}</string>
                <key>sourceSize</key>
                <string>{204,84}</string>
            </dict>
            <key>dialog_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{517,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,373}}</string>
                <key>sourceSize</key>
                <string>{517,373}</string>
            </dict>
            <key>hand_book_item_question.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1336},{86,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,118}}</string>
                <key>sourceSize</key>
                <string>{86,118}</string>
            </dict>
            <key>handbook_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>handbook_cat_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1212},{300,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,60}}</string>
                <key>sourceSize</key>
                <string>{300,60}</string>
            </dict>
            <key>handbook_food_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1274},{300,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,60}}</string>
                <key>sourceSize</key>
                <string>{300,60}</string>
            </dict>
            <key>handbook_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1515},{290,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,281}}</string>
                <key>sourceSize</key>
                <string>{290,281}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1504},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,1336},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,1693},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1359,1693},{130,130}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{130,130}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1504},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1336},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,1470},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>level_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1638},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1721},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,1456},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1468},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,1539},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>level_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1551},{81,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>sell_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{640,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,1136}}</string>
                <key>sourceSize</key>
                <string>{640,1136}</string>
            </dict>
            <key>sell_cat_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1731},{470,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{470,85}}</string>
                <key>sourceSize</key>
                <string>{470,85}</string>
            </dict>
            <key>sell_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1140},{640,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,180}}</string>
                <key>sourceSize</key>
                <string>{640,180}</string>
            </dict>
            <key>sell_history_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1731},{170,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,86}}</string>
                <key>sourceSize</key>
                <string>{170,86}</string>
            </dict>
            <key>sell_right_panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{240,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,1136}}</string>
                <key>sourceSize</key>
                <string>{240,1136}</string>
            </dict>
            <key>sell_select_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,1634},{146,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,57}}</string>
                <key>sourceSize</key>
                <string>{146,57}</string>
            </dict>
            <key>sell_select_btn_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,1634},{76,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,44}}</string>
                <key>sourceSize</key>
                <string>{76,44}</string>
            </dict>
            <key>shop_header.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1322},{640,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,180}}</string>
                <key>sourceSize</key>
                <string>{640,180}</string>
            </dict>
            <key>shop_list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1515},{640,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,214}}</string>
                <key>sourceSize</key>
                <string>{640,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1528,1825}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44ee57d9216f36b56f3d931c5e4087ed:295c11e883a78f500b9372222fc32797:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
